---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I love to solve problems! My favorite types of problems to solve are the ones that allow me to automate, simplify and help my teams reduce the manual effort needed to get things done. In my role at AWS as a Containers specialist I get to work on a variety of different projects assisting our partners and customers with their GitOps, CI/CD, Infrastructure as code, Containerization and Kubernetes projects. 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="B.S. in Computer Science"
      subtitle="Graduated 2021 - Oregon State University"
    />
    <TimeLineElement
      title="M.S. in Accounting"
      subtitle="Graduated 2017 - University of Colorado Denver"
    />
    <TimeLineElement
      title="B.S. in Economics"
      subtitle="Graduated 2014 - Washington State University"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Container Specialist Solutions Architect "
      subtitle="From December 2021 to Present at Amazon Web Services, Seattle, WA, USA"
    > - Leveraged GitOps, Infrastructure as Code, bash scripting, CI/CD application delivery to automate the
deployment and testing of partner software across 9 cloud and edge compute platforms, 3 major releases of
Kubernetes, ARM/X86 architectures and container optimized or Security Enhanced Linux OS variants
<br> - Conducted Beta testing of new hardware deployment options for EKS hybrid nodes and EKS auto mode to
validate launch partner solution compatibility for their respective re:Invent service launches
<br> - Containers specialist community member serving as a subject matter expert and thought leader for partners
and customers seeking assistance with container-based solution planning and implementation.
<br> - Developed and conducted workshops, training sessions, and authored technical blog posts to help partners
build technical expertise and expand their capabilities
<br>
    </TimeLineElement>
    <TimeLineElement
      title="Corporate Accountant"
      subtitle="From September 2019 to January 2021 at Zillow, Seattle, WA, USA"
    >- Automated accounting close by identifying inefficiencies in existing processes, designing solutions, and training team members on the new methodology leading to increased timeliness and accuracy of financial statements
    <br>- Collaborated with teams across all lines of business to gain deep understanding of assigned processes and accounts
    <br>- Performed of Month, Quarter and Year end financial statement close duties, Balance sheet Reconciliations, supporting schedules, and SOX control ownership as needed
    <br>- Participated in annual audit and quarterly review procedures performed by internal and external auditors
    <br>- Investigated and prepared support for variance analysis of operating expenses used by management and financial planning teams
    </TimeLineElement>
  </div>

 <div class="mb-5">
    <div class="text-3xl w-full font-bold">Publications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://aws.amazon.com/blogs/containers/using-gitops-for-stateful-workload-management-with-vsphere-csi-driver-on-on-premises-kubernetes-2/" target="_blank">AWS Containers Blog: Using GitOps for Stateful Workload Management with vSphere CSI driver on on-premises Kubernetes</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> AWS Certified Solutions Architect – Professional</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certified Kubernetes Application Developer (CKAD)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certified Kubernetes Administrator (CKA)</a>
    </li>
    <li>
      <a href="#" target="_blank"> AWS Certified AI Practitioner</a>
    </li>
    <li>
      <a href="#" target="_blank"> HashiCorp Certified Terraform Associate</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Typescript</li>
    <li>Java</li>
    <li>Python</li>
    <li>Dart</li>
    <li>SQL</li>
    <li>JavaScript</li>
    <li>Bash scripting</li>
    <li>HTML/CSS</li>
    <li>Linux</li>
    <li>Containers</li>
    <li>Docker</li>
    <li>GitHub</li>
    <li>Kubernetes</li>
    <li>Terraform</li>
    <li>Infrastructure as code</li>
    <li>CI/CD pipelines</li>
    <li>Lambda</li>
    <li>API Gateway</li>
    <li>Step Functions</li>
    <li>Role Based Access Control (RBAC)</li>
    <li>AWS Cloudformation</li>
    <li>AWS CDK</li>
  </ul>
</BaseLayout>
