---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hello!</div>
    <div class="text-5xl font-bold">I'm Mike McDonald</div>
    <div class="text-3xl py-3 font-bold">Containers Specialist, Solutions Architect & Platform Engineer</div>
    <div class="py-2">
      <text class="text-lg">
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My recent and ongoing projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="EKS Anywhere Addons - Conformance testing"
    img=""
    desc="I am an ongoing contributor and maintainer for the Amazon EKS Anywhere (EKS-A) Conformance and Validation Framework, designed to address general validation and quality assurance of Partner and third-party solutions (add-ons) running on EKS-A on supported operating systems, hardware and virtualization platforms. I set up and currently maintain our VMware, snowball edge, Baremetal, EKS Auto mode and EKS hybrid node testing environments. Previously I authored Github Actions based automation for onboarding new partner software to our testing clusters."
    url="https://github.com/aws-samples/eks-anywhere-addons"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Platform Engineering on AWS workshop"
    img=""
    desc="Created IaC deployment assets for automated participant account creation including EC2 based VScode Server IDE preloaded with all necessary tooling for the workshop content and role based permissions to restrict participant access to services used in the workshop. The workshop debuted at re:Invent 2024 to teach creation of Internal Development platforms, progressive update delivery and AI/ML delivery via platforms. Currently I am developing terraform code to use Amazon Controllers for Kubernetes to integrate K8sGPT with Bedrock and enable AI backed observability and error detection visualized on Grafana dashboards for each cluster"
    url="Https://catalog.workshops.aws/platform-engineering-on-eks"
  />
  <div class="divider my-0"></div>
</BaseLayout>
